* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  font-family: sans-serif;
  font-size: 18px;
  background-color: #e8e8e8;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

header {
  background-color: #101010;
}

.jumbo {
  height: 480px;
  background-size: cover;
  position: relative;
}
.jumbo .artists {
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  font-size: 12px;
  right: 15px;
  bottom: 15px;
}

.jumbo-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 60px;
}
.jumbo-container .jumbo-img h1 img {
  width: 250px;
}
.jumbo-container h3 {
  margin: 15px 0 35px;
}
.jumbo-container span i {
  color: #cc33b2;
  margin-bottom: 5px;
}
.jumbo-container .buttons {
  margin-top: 40px;
}
.jumbo-container .buttons button {
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 30px;
  border: 2px solid #000;
}
.jumbo-container .buttons #learn {
  background-color: #000;
  color: #fff;
  margin-right: 40px;
}
.jumbo-container .buttons #download {
  background-color: rgba(0, 0, 0, 0);
}

.nav-fixed {
  width: 90%;
  padding: 20px;
  margin: 0 auto;
}

.nav-fixed ul {
  display: flex;
  justify-content: flex-end;
}
.nav-fixed ul li a {
  margin: 0 15px;
}
.nav-fixed ul li a i {
  color: #009cFF;
}
.nav-fixed ul li a span {
  color: #778899;
}

.navbar {
  width: 90%;
  margin: 0 auto;
  height: 50px;
}

.navbar ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbar ul li {
  margin-right: 25px;
}
.navbar ul li a {
  color: #fff;
}

.main-container-top {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 80px;
}
.main-container-top .cards {
  display: flex;
  justify-content: space-between;
}
.main-container-top h2 {
  text-align: center;
  font-weight: normal;
  font-size: 32px;
  margin: 30px 0;
}
.main-container-top .card {
  width: calc(100% / 3 - 20px);
  background-color: #fff;
}
.main-container-top .card:hover .link {
  text-decoration: underline;
}
.main-container-top .card img {
  width: 100%;
}
.main-container-top .card .content {
  padding: 25px;
}
.main-container-top .card .content h4 {
  margin: 15px 0;
}
.main-container-top .card .content #new {
  color: #009cFF;
}
.main-container-top .card .content p {
  font-size: 16px;
  margin-bottom: 10px;
}
.main-container-top .card .content .link {
  color: #009cFF;
}

.main-container-center {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.main-container-center .modules {
  width: calc(100% / 2);
  color: #fff;
  height: 325px;
}
.main-container-center .modules a {
  background-color: #fff;
  padding: 5px 20px;
  color: #000;
  text-transform: uppercase;
}
.main-container-center .modules img:first-child {
  width: 100%;
  height: 100%;
}
.main-container-center .modules h4 {
  font-size: 28px;
}
.main-container-center .modules p {
  font-size: 20px;
  margin: 30px 0;
}
.main-container-center #wacom {
  position: relative;
}
.main-container-center #wacom img:last-child {
  position: absolute;
  top: 20px;
  left: 0;
  width: 80%;
}
.main-container-center #bg-purple {
  background-color: #3c1567;
  padding: 50px 35px 0;
}
.main-container-center #bg-gray {
  background-color: #3c3c3c;
  padding: 50px 35px 0;
}
.main-container-center #bg-blue {
  background-color: #009cFF;
  padding: 50px 35px 0;
}

.footer-top {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.footer-top ul {
  width: calc(100% / 4);
}
.footer-top ul li {
  margin: 10px 0;
}
.footer-top ul li a {
  color: #4d4d4d;
  font-size: 12px;
}

.footer-mid {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}
.footer-mid svg {
  height: 35px;
  margin: 0 5px;
  fill: #fff;
}
.footer-mid .instagram {
  background-color: #E4405F;
}
.footer-mid .facebook {
  background-color: #3B5998;
}
.footer-mid .twitter {
  background-color: #1DA1F2;
}
.footer-mid .youtube {
  background-color: #CD201F;
}
.footer-mid .patreon {
  background-color: #BD081C;
}
.footer-mid .painter-blog {
  background-color: #FF8D00;
  margin-right: 35px;
}

.footer-bot {
  height: 90px;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
}
.footer-bot .container-f-bot {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
.footer-bot .container-f-bot ul {
  display: flex;
}
.footer-bot .container-f-bot ul li {
  margin-right: 15px;
}
.footer-bot .container-f-bot .footer-right {
  margin-left: auto;
  margin-top: 25px;
  color: #fff;
  font-size: 12px;
}
.footer-bot .container-f-bot .footer-right li a {
  color: #999;
}
